* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt normal;
}

header h1 {
    font-size: 30pt;
}

body {
    text-align: center;
    background-color: black;
}

header h1 {
    font-size: 30pt;
    color: rgb(255, 255, 255);
}

article h2 {
    font-size: 20pt;
}

main {
    background-color: rgba(255, 255, 255, 0.199);
    color: rgb(255, 255, 255);
    width: 750px;
    margin: auto;
    padding: 25px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.349);
    text-align: justify;
    border-radius: 20px;
}

main h2 {
    text-align: center;
}

footer {
    font-size: 9pt;
    color: white;
}